.movie-card {
  position: relative;
  min-width: 180px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.movie-card__poster-wrapper {
  position: relative;
}

.movie-card__poster {
  width: 100%;
  border-radius: 8px;
  display: block;
  transition: transform 0.3s ease;
}

.movie-card__poster-wrapper:hover .movie-card__poster {
  transform: scale(1.05);
}

.movie-card__expanded {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  width: 480px;
  background: #1c1c1c;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
  z-index: 10;
  padding: 0;
  animation: fadeIn 0.2s ease-in;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -10px);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

.movie-card__title {
  margin-top: 1rem;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: color 0.3s ease;
  text-align: center;
}

.movie-card__title:hover {
  color: #f7c948;
}

.expanded__poster {
  width: 100%;
  border-radius: 8px;
  max-height: 200px;
  object-fit: cover;

  background-size: cover;
  background-position: 50%;
  position: relative;
  mask-image: linear-gradient(0deg, transparent 0, black 30px);
  -webkit-mask-image: linear-gradient(0deg, transparent 0, black 30px);
}

.expanded__content {
  color: #fff;
  font-size: 1rem;
  padding: 1rem;

  span.sub {
    font-size: 0.8rem;
    padding: 0.5rem 0 1rem 0;
  }
}

.actions {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin: 1rem 0;
}

.actions button {
  background: #333;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0.8rem;
  line-height: 1.5;
  gap: 0.5rem;
  min-height: 40px;
}

.actions button.play {
  background: #f7c948;
  color: #000;
  font-weight: 600;

  &:hover {
    background: #ffd84d;
  }
}

.actions button:hover {
  background: #555;
}

.meta {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 12px;
  opacity: 0.8;
  margin: 1rem 0;

  &-star {
    
  display: flex;
  align-items: center;
  gap: .2rem;
  }
}

.badge {
  background: #f7c948;
  color: #000;
  padding: 2px 5px;
  border-radius: 4px;
  font-weight: bold;
}

.overview {
  font-size: 0.8rem;
  line-height: 1.4;
  color: #ccc;
  text-align: justify;
}
