@use './_variables';
@use './global';
@use './pages/home';
@use './components/movie-card';
@use './components/navbar';
@use './components/tabs';
@use './components/error-message';
@use './components/skeleton';
@use './components/movie-list';
@use './components/search';
@use './components/search-dropdown';
@use './components/toggle';
@use './components/slider';
@use './components/movie-detail';
@use './components/header';
@use './components/footer';