@import './variables';
@import './global';
@import './mixins';
@import './pages/home';
@import './components/movie-card';
@import './components/navbar';
@import './components/tabs';
@import './components/error-message';
@import './components/skeleton';
@import './components/movie-list';
@import './components/search';
@import './components/search-dropdown';
@import './components/toggle';
@import './components/slider';